<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="home">Mocha NG [ <i class="ion-coffee"></i> ]</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-navicon"></i></a>
                    <ul class="dropdown-menu mega-menu">
                        <li>
                            <a routerLink="produtos">
                                <img src="assets/images/products/cat01.jpg" alt="">
                                <span>Relógios</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="produtos">
                                <img src="assets/images/products/cat02.jpg" alt="">
                                <span>Móveis</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="produtos">
                                <img src="assets/images/products/cat03.jpg" alt="">
                                <span>Luminárias</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="produtos">
                                <img src="assets/images/products/cat04.jpg" alt="">
                                <span>Bolsas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-cart"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
