@mixin box-shadow($args, $inset:"") {
    -webkit-box-shadow:$args #{$inset};
    -moz-box-shadow:$args #{$inset};
    box-shadow:$args #{$inset};
}

@mixin box-shadow-none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


@mixin transition($args...){
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
