
// FONTS
$quicksand: 'Quicksand', sans-serif;
$poppins: 'Poppins', sans-serif;
$rubik: 'Rubik', sans-serif;


// FONT SIZE PADRAO
$browser-context: 13;


// CORES
$white: #FFFFFF;
$black: #303030;
$gray: #e7e7e7;
$satin: #CE6A85;
$sea_foam_green :#B2DBBF;



// VARS
$nav_height: 80px;
