$c_w: 50vw;

.navbar{
    &.navbar-default{
        background-color: $white;
        border: none;
        height: $nav_height;


        .navbar-brand{
        }

        .navbar-nav{
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            width: $c_w;
            >li{

                @include flex-grow(1);

                text-align: center;

                >a {
                    font-size: em(15.6);
                    text-transform: lowercase;
                    padding: 0 $nav_height/3;
                    line-height: $nav_height;
                    height: $nav_height;
                    font-weight: 400;

                    &:hover{
                        background-color: transparent;
                        color: inherit;
                    }
                }
            }
            >.open{
                >a{
                    background-color: transparent;
                    color: inherit;

                    &:focus,
                    &:hover{
                        background-color: transparent;
                        color: inherit;
                    }
                }
            }
        }
    }
}

.navbar-brand{
    font-family: $quicksand!important;
    font-size: em(20);
    height: $nav_height;
    line-height: $nav_height;
    padding: 0 $nav_height/2 + 10;
}


.dropdown{
    .dropdown-menu{
        padding: 25px;
        >li{
            border: {
                top: none;
                left: none;
                right: none;
                bottom: 1px solid $white - 15;
            }
            &:last-of-type{
                border: none;
            }


            >a{
                padding: 10px 15px;
                border:none;
                background-color: $white;

                @include flexbox;
                @include justify-content(flex-start);
                @include align-items(center);


                img{
                    width: 20%;
                }

                span{
                    font-family: $quicksand;
                    font-size: em(20);
                    padding: 8px 20px;
                    color: $black;
                    line-height: 20px;
                    font-weight: 300;
                    font-style: italic;
                    @include flex-grow(1);
                    @include transition(all .25s ease-in-out);
                }

                &:hover{
                    span{
                        font-weight: 400;
                    }
                }
            }
        }
    }
    &.open{
        .dropdown-menu.mega-menu{
            position: fixed;
            top: $nav_height;
            left: auto;
            right: 0;
            bottom: 0;
            height: calc( 100% - #{$nav_height});
            width: $c_w;
            border-radius: 0;
            border: none;
            @include box-shadow-none;
            overflow: auto;
        }
    }
}
