.owl-carousel{

    //vars locais
    $height: 100vh;


    .owl-item{

        height: $height;

        .item{
            height: $height;

            .item-content{
                height: $height;
                background-position: center;
                background-size: cover;
            }
        }
    }

    .owl-nav{

        .owl-next,
        .owl-prev{
            $h: 100px;

            width: $h;
            height: $h;
            position: absolute;
            top: calc( 50% -  #{$h} / 2);
            border: none;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            font-size: em(40);
            background-color: $white;
            @include box-shadow(0 0 15px rgba($black, .25));
            opacity: .7;

            @include transition(all .6s ease-in-out);
        }



        @media only screen and (min-width: 768px){

            .owl-next,
            .owl-prev{
                $hm: 100px;

                width: $hm;
                height: $hm;
                top: calc( 50% -  #{$hm} / 2);
            }

            .owl-next{
                right: -100%;
            }
            .owl-prev{
                left: -100%;
            }
        }
    }

    &:hover{
        .owl-nav{
            .owl-next,
            .owl-prev{
                &:hover{
                    opacity: 1;
                }
            }
            .owl-next{
                right: 10px;
            }
            .owl-prev{
                left: 10px;
            }
        }
    }
}
