body {
  font-size: 13px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.6px;
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}

.navbar.navbar-default {
  background-color: #FFFFFF;
  border: none;
  height: 80px;
}
.navbar.navbar-default .navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 50vw;
}
.navbar.navbar-default .navbar-nav > li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.navbar.navbar-default .navbar-nav > li > a {
  font-size: 1.2em;
  text-transform: lowercase;
  padding: 0 26.66667px;
  line-height: 80px;
  height: 80px;
  font-weight: 400;
}
.navbar.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: inherit;
}
.navbar.navbar-default .navbar-nav > .open > a {
  background-color: transparent;
  color: inherit;
}
.navbar.navbar-default .navbar-nav > .open > a:focus, .navbar.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: inherit;
}

.navbar-brand {
  font-family: "Quicksand", sans-serif !important;
  font-size: 1.53846em;
  height: 80px;
  line-height: 80px;
  padding: 0 50px;
}

.dropdown .dropdown-menu {
  padding: 25px;
}
.dropdown .dropdown-menu > li {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #f0f0f0;
}
.dropdown .dropdown-menu > li:last-of-type {
  border: none;
}
.dropdown .dropdown-menu > li > a {
  padding: 10px 15px;
  border: none;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.dropdown .dropdown-menu > li > a img {
  width: 20%;
}
.dropdown .dropdown-menu > li > a span {
  font-family: "Quicksand", sans-serif;
  font-size: 1.53846em;
  padding: 8px 20px;
  color: #303030;
  line-height: 20px;
  font-weight: 300;
  font-style: italic;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.dropdown .dropdown-menu > li > a:hover span {
  font-weight: 400;
}
.dropdown.open .dropdown-menu.mega-menu {
  position: fixed;
  top: 80px;
  left: auto;
  right: 0;
  bottom: 0;
  height: calc( 100% - 80px);
  width: 50vw;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: auto;
}

.owl-carousel .owl-item {
  height: 100vh;
}
.owl-carousel .owl-item .item {
  height: 100vh;
}
.owl-carousel .owl-item .item .item-content {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc( 50% -  100px / 2);
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-size: 3.07692em;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 15px rgba(48, 48, 48, 0.25) ;
  -moz-box-shadow: 0 0 15px rgba(48, 48, 48, 0.25) ;
  box-shadow: 0 0 15px rgba(48, 48, 48, 0.25) ;
  opacity: .7;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    width: 100px;
    height: 100px;
    top: calc( 50% -  100px / 2);
  }
  .owl-carousel .owl-nav .owl-next {
    right: -100%;
  }
  .owl-carousel .owl-nav .owl-prev {
    left: -100%;
  }
}
.owl-carousel:hover .owl-nav .owl-next:hover,
.owl-carousel:hover .owl-nav .owl-prev:hover {
  opacity: 1;
}
.owl-carousel:hover .owl-nav .owl-next {
  right: 10px;
}
.owl-carousel:hover .owl-nav .owl-prev {
  left: 10px;
}

/*# sourceMappingURL=mocha.css.map */
