<div class="owl-carousel owl-theme">
    <div class="item">
        <div class="item-content" style="background-image: url(assets/images/slider/01.jpg);">

        </div>
    </div>
    <div class="item">
        <div class="item-content" style="background-image: url(assets/images/slider/02.jpg);">

        </div>
    </div>
    <div class="item">
        <div class="item-content" style="background-image: url(assets/images/slider/03.jpg);">

        </div>
    </div>
</div>
